.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom:0;
    height: 40px;
    
}

.footer > span{
    font-size:.9rem;
    font-weight: 300;
}

.iconRed{
    color: red;
}